@model CryptedMessage
@{
    ViewData["Title"] = "Challange";
}
<div>
    <h3>kid:</h3>
    <p>@Model.kid</p>
    <h3>key:</h3>
    <p>@Model.key</p>
    <h3>challange:</h3>
    <p>@Model.challenge</p>
    <h3>nonce:</h3>
    <p>@Model.nonce</p>
    <button id="toggleButton" class="btn-secondary" onclick="myFunction()" style="margin: 10px 0px">Show plaintext</button>
    <div id="plaintext" class="alert-success" style="display:none">
        <h3>plaintext:</h3>
        <p>@ViewBag.Plaintext</p>
    </div>
    <div>
        <a href="@ViewBag.Link" target="_blank" class="btn-secondary btn-sm">Check if challange exist</a>
    </div>
    <form method="post" asp-controller="Home" asp-action="Solve" style="margin: 10px 0px">
        <input type="hidden" name="kid" value="@Model.kid" />
        <input type="hidden" name="key" value="@Model.key" />
        <input type="hidden" name="challange" value="@Model.challenge" />
        <input type="hidden" name="nonce" value="@Model.nonce" />
        <input type="hidden" name="plaintext" value="@ViewBag.Plaintext" />
        <button class="btn-danger btn-lg" type="submit">Challange oplossen</button>
    </form>
</div>

